.users {
    margin: 2rem auto;
    width: 100%;
    max-width: 42rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    color: black;
    font-weight: 500;
    font-size: large;
    border: 1.8px solid #741188;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }